#### Import Libraries

In [6]:
#import libraries
import numpy as np
import pandas as pd

#### Load the dataset

In [10]:
df = pd.read_csv("dataset/Activity_Dataset_V1.csv")

In [11]:
df.head(10)

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88
5,5,2022-01-01,Outdoor Cycling,5.47,117,144,NaN,2.20,43.47,291.67,...,NaN,NaN,142.0,177.0,107,44,45,15,57,39
6,6,2022-01-01,Indoor Cycling,6.28,66,378,NaN,10.65,23.83,253.84,...,NaN,NaN,85.0,90.0,80,34,32,0,44,23
7,7,2022-01-01,Outdoor Running,2.94,26,430,7618.0,10.59,131.93,334.72,...,27:44,06:15,145.0,190.0,100,23,0,71,18,3
8,8,2022-01-01,Trail Run,2.87,26,465,2790.0,32.92,21.42,341.17,...,25:50,06:20,142.0,188.0,96,2,0,80,46,13
9,9,2022-01-01,Pool Swimming,3.91,23,99,NaN,33.15,169.30,206.97,...,NaN,NaN,132.5,175.0,90,22,20,15,28,20

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1000 non-null   int64
 1   activity_day    1000 non-null   object
 2   workout_type    1000 non-null   object
 3   distance        1000 non-null   float64
 4   time            1000 non-null   int64
 5   calories        1000 non-null   int64
 6   total_steps     554 non-null    float64
 7   avg_speed       1000 non-null   float64
 8   avg_cadence     1000 non-null   float64
 9   max_cadence     1000 non-null   float64
 10  avg_pace        554 non-null    object
 11  max_pace        554 non-null    object
 12  min_pace        554 non-null    object
 13  avg_heart_rate  1000 non-null   float64
 14  max_heart_rate  1000 non-null   float64
 15  min_heart_rate  1000 non-null   int64
 16  vo2_max(%)      1000 non-null   int64
 17  aerobic(%)      1000 non-null   int64
 18  anaerobic(%)    1000 non-null   int64
 19  intensive(%)    1000 non-null   int64
 20  light(%)        1000 non-null   int64
dtypes: float64(7), int64(9), object(5)
memory usage: 164.2+ KB

In [14]:
df.iloc[:,df.columns.isin(['distance','time','calories','total_steps', 'avg_heart_rate'])].describe()

          distance         time     calories  total_steps  avg_heart_rate
count  1000.000000  1000.000000  1000.000000   554.000000     1000.000000
mean      5.243620    71.166000   286.310000  4081.119134      116.282000
std       2.649774    29.341359   156.278511  1865.429141       20.573679
min       1.000000    20.000000    10.000000  1571.000000       82.500000
25%       2.800000    45.000000   155.750000  2790.000000       97.000000
50%       5.105000    71.000000   290.500000  3444.000000      113.000000
75%       7.542500    97.000000   415.250000  5028.000000      136.500000
max       9.990000   120.000000   550.000000  7618.000000      150.500000